body {
    background-image: url(../Asset/Image/Frame65.png);
    background-size: 100% 100vh;
}

@media screen and (max-width: 540px){
    body {
        background-image: url(../Asset/Image/Frame65.png);
        background-size: cover;
    }
}